In [14]:
import numpy as np
import pandas as pd

In [15]:
data=pd.read_csv('Fraud.csv')

In [16]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [17]:
data.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [19]:
data.shape

(6362620, 11)

In [20]:
data.isna().sum() ## check the data is clean or not

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [21]:
data.isFraud.value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [22]:
data.isFlaggedFraud.value_counts()

isFlaggedFraud
0    6362604
1         16
Name: count, dtype: int64

In [23]:
data=data.drop(['nameOrig','nameDest'],axis=1) # data preprocessing

In [24]:
# import label encoder
from sklearn import preprocessing
# label encoder object knows how to understand word labels
label_encoder=preprocessing.LabelEncoder()

data['type']=label_encoder.fit_transform(data['type'])

In [25]:
X,Y=data.loc[:,data.columns != 'isFraud'],data['isFraud']

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.40,random_state=42)

In [28]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [33]:
# import gaussian Naive Bayes Model
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics 

# create a gaussian classifier
gnb=GaussianNB()

# train the  model using training sets
gnb.fit(X_train,Y_train)

# predict the response for test dataset
Y_pred=gnb.predict(X_test)
print("Accuracy:",metrics.accuracy_score(Y_test,Y_pred))

Accuracy: 0.9955882953877491

In [34]:
print("Classification Report for Gaussian Naive Bayes:")
print(metrics.classification_report(Y_test, Y_pred))

Classification Report for Gaussian Naive Bayes:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00   2541782
           1       0.04      0.11      0.06      3266

    accuracy                           1.00   2545048
   macro avg       0.52      0.55      0.53   2545048
weighted avg       1.00      1.00      1.00   2545048

In [35]:
# Create and train the Logistic Regression model

from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)
classifier.fit(X_train,Y_train)
# Predict and evaluate the Logistic Regression model

Y_pred=classifier.predict(X_test)
print("Accuracy:",metrics.accuracy_score(Y_test,Y_pred))

Accuracy: 0.9991882274911907

In [36]:
print("Classification Report for Logistic Regression:")
print(metrics.classification_report(Y_test, Y_pred))

Classification Report for Logistic Regression:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00   2541782
           1       0.90      0.41      0.57      3266

    accuracy                           1.00   2545048
   macro avg       0.95      0.71      0.78   2545048
weighted avg       1.00      1.00      1.00   2545048